.heading {
	display: flex;
	align-items: center;
	.link {
		font-size: 1.75rem;
		color: $white;
		text-align: center;
        text-decoration: none;
        padding-left:2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: flex-start;
        i{
            font-size: 3rem;
        }
	}
	background: $green;
	padding: 0.1rem;
	font-size: 1.25rem;
	color: $white;
	text-align: center;
	&__text {
		display: flex;
		justify-content: center;
		flex: 1;
	}
}
